name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
            
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r renzocastro91/requirements.txt
          pip install pytest   
      
      - name: Run tests
        run: pytest
      
      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel
        run: |
          npm install -g vercel
          npx vercel --token ${{ secrets.VERCEL_TOKEN }} --prod --confirm renzocastro91
          cd renzocastro91
          echo "3" | python3 main.py | echo "0"S
